* {
    background-color: lightgrey;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Quicksand';
}

nav {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

ul {
    font-family: 'Quicksand';
    text-decoration: none;
}

ul.nav li {
    list-style: none;
    display: inline-block;
    margin-top: 1px;
    
}

#middle-nav {
    margin-right: 120px;
    margin-left: 120px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.intro-grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}


.intro {
    grid-column: 1 / 2;
    margin-left: 20px;
    font-family: 'Wix Madefor Display';
}

.image-grid-container {
    grid-column: 2 / 2;
    margin-left: 10px;
}