* {
    background-color: lightgrey;
}

nav {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

ul.nav li {
    list-style: none;
    display: inline-block;
    margin-top: 1px;
}

#middle-nav {
    margin-right: 120px;
    margin-left: 120px;
}