body {
    background-color: lightgrey;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Quicksand';
}

nav {
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

ul {
    font-family: 'Quicksand';
    text-decoration: none;
}

ul.nav li {
    list-style: none;
    display: inline-block;
    margin-top: 1px;
    
}

#middle-nav {
    margin-left: 120px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}


.intro {
    grid-column: 1 / 2;
    margin-left: 10px;
    font-family: 'Wix Madefor Display';
}

.image-grid-container {
    grid-column: 2 / 2;
    margin-left: 10px;
}

.contact-intro {
    margin-left: 10px;
    font-family: 'Wix Madefor Display';
}

.html-projects {
    margin-left: 10px;
    grid-row: 2;
    font-family: 'Wix Madefor Display';
}

.javascript-projects {
    margin-left: 10px;
    grid-row: 3;
    font-family: 'Wix Madefor Display';
}

.full-stack {
    margin-left: 10px;
    grid-row: 4;
    font-family: 'Wix Madefor Display';
}

.dark-mode {
    background-color: black;
    color: white;
}


@media all and (max-width: 500px) {


    .grid-container {
        grid-template-columns: 200px 200px;
    }

    #middle-nav {
        margin-left: 0px;
    }

    ul.nav li {
        display: block;
    }

    .intro {
        margin-left: 2px;
    }

    .contact-intro {
        margin-left: 2px;
    }

    .html-projects {
        margin-left: 2px;
    }

    .javascript-projects {
        margin-left: 2px;
    }

    .full-stack {
        margin-left: 2px;
    }
}